*{
    margin: 0;
    padding: 0;
}
.hero-content{
    background-color: #fff;
    padding: 10px 0 0 10px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    width: 100%;
    top: 0;
    /* z-index: 1000; */
}
.content{
    margin-top: 120px;
}
.navbar{
    display: flex;
    justify-content:stretch;
    align-items: center;
}
.nav-items{
    margin: 0 1vw;
    list-style: none;
}
.nav-items:nth-of-type(4){
    margin-right: 40px;
}
.logo{
    width: 30vh;
    height: fit-content;
}
@font-face{
}